@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  /* colors */

  --clr-accent: rgb(255, 196, 0);
  --clr-accent-hover: rgb(255, 159, 50);
  --clr-accent-red: rgb(192, 78, 78);
  --clr-accent-red-hover: rgb(238, 109, 109);
  --clr-accent-active: rgb(230, 168, 0);
  --clr-blanchedalmond: rgb(238, 109, 109);
  --clr-text-gray: rgb(129, 129, 129);
  --clr-white: rgb(248, 247, 246);
  --clr-dark: rgb(53, 50, 50);
  --clr-table-border-gray: rgb(209, 209, 209);

}

/*
Colors: 
  --clr-accent: rgb(255, 187, 0);
  --clr-accent-hover: rgb(255, 211, 92);
  --clr-accent-active: rgb(230, 168, 0);
  --clr-blanchedalmond: blanchedalmond;
  --clr-white: rgb(248, 247, 246);
  --clr-table-border-gray: rgb(209, 209, 209);
   --clr-dark: rgb(53, 50, 50);

*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
button,
img,
ul,
li {
  margin: 0;
  padding: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  color: inherit;
  background: none;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/**************************/
/***   UTILITY CLASSES  ***/
/**************************/



.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.grid {
  display: grid;
}


.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt7 {
  margin-top: 7rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.mb7 {
  margin-bottom: 7rem;
}



.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


.ff-title {
  font-family: cursive;
}

.ff-playball {
  font-family: 'Playball', cursive;
}

.ff-kaushan {
  font-family: 'Kaushan Script', serif;
}

.uppercase {
  text-transform: uppercase;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.shadow {
  box-shadow: 0px 0px 10px 0px rgba(204, 205, 205, 0.58)
}

.shadow-dark {
  box-shadow: 0px 0px 10px 0px rgba(53, 53, 53, 0.58) !important;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.w95 {
  width: 95%;
}

.auto {
  margin: auto;
}

.margins {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (max-width: 70rem) {
  .margins {
    width: 90%;
  }
}

@media (max-width: 40rem) {
  .margins {
    width: 95%;
  }

}

.link--white:hover {
  color: var(--clr-accent)
}

/**************************/
/***   Selectors   ***/
/**************************/

* {
  transition: 300ms;
}

body {

  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1 {
  font-size: 2rem;

}

h2 {

  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

ul {
  list-style-type: none;
}


button {
  max-width: 200px;
  padding: 0.5rem 1rem;
  background-color: var(--clr-accent);
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: var(--clr-accent-hover);
}

button:active {
  background-color: var(--clr-accent-active);
}

html {
  position: relative;
  background-color: var(--clr-white);
}

.section-title {
  margin-bottom: 3rem;
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}

/*********************************************/
/***********************   APP             ***/
/*********************************************/
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/**************************/
/***   HEADER           ***/
/**************************/
header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  width: 100%;
  color: white;
}



.header-and-hero {
  background: url('assets/bg.jpg');
  background-position: center;
  background-size: cover;
}

.header-and-hero.HomeScreen {
  height: 100vh;
}

.header__navOnScroll {
  background-color: var(--clr-dark);
  box-shadow: 0px -10px 10px 10px rgba(53, 53, 53, 0.9);
  transition: background-color 1s;
}

.header__wrapper {
  gap: 0.5rem;
  position: relative;
  padding-block: 1rem;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-block: auto;
  font-size: 1.8rem;
}

.header__logo i {
  font-size: 1.5rem;
}

.header__icon-and-btn {
  align-items: center;
  gap: 1rem;
  margin-block: auto;
}

.header__icon {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 50%;
}

.header__icon:hover {
  background-color: rgba(250, 250, 250, 0.342);
}

.header__cart {
  position: relative;
}

.header__cart-items {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 1.1rem;
  height: 1.1rem;
  background-color: rgb(228, 107, 37);
  color: white;
  border-radius: 100px;
}

.header__cart-items span {
  font-size: 0.65rem;

}

.login__dropdown {
  position: relative;
  align-items: flex-start;
  font-size: 1.2rem;

  transition: all 0.6s;
}

.login__username {
  align-items: start;
  cursor: pointer;
  gap: 0.5rem;
}

.login__logout {
  cursor: pointer;
}

.login__dropdown--items {
  display: none;
}

.login__dropdown--item {
  padding: 0.5rem;
}

.login__dropdown--item:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.login__dropdown .fa-caret-right {
  position: relative;
  font-size: 0.9rem;
}

.show {
  display: block;
  position: absolute;
  z-index: 15;
  width: 8rem;
  top: 3rem;
  transition: all 0.5s;
}

/**************************/
/***     Navbar         ***/
/**************************/

@media (max-width: 900px) {
  .header__open--nav {
    display: block;
    max-height: 2.5rem;
  }

  .nav {
    transform: translateX(100%);
    position: absolute;
    background: var(--clr-dark);
    top: -1%;
    right: -7%;
    z-index: 20;
    height: 100vh;
    width: max(50vw, 250px);
  }

  .nav__list {
    position: relative;
    height: 100%;
    padding-block: 30%;
    padding-inline: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1rem;
    background: var(--clr-dark);
  }

  .nav__list--closeX {
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background: var(--clr-accent);
    cursor: pointer;
  }

  .nav__list--closeX:hover {

    background: var(--clr-accent-red-hover);
  }

  .nav__list--item a {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 901px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  .nav__list--closeX {
    display: none;
  }

  .nav__list--social {
    display: none;
  }

  .header__open--nav {
    display: none;
  }
}

.nav__list--item {
  font-size: 1.2rem;
}

.nav__list--item:hover {
  color: var(--clr-accent);
}

.HomeLink .HomeScreen {
  font-weight: bold;
  color: var(--clr-accent);
}

.MenuScreen .MenuLink {
  font-weight: bold;
  color: var(--clr-accent);
}

.AboutScreen .AboutLink {
  font-weight: bold;
  color: var(--clr-accent);
}

.GalleryScreen .GalleryLink {
  font-weight: bold;
  color: var(--clr-accent);
}

.ContactScreen .ContactLink {
  font-weight: bold;
  color: var(--clr-accent);
}

/**************************/
/***     HERO           ***/
/**************************/

.HomeScreen .hero {
  place-items: center;
  height: 100%;
}

.hero {
  color: white;
  padding-top: 5rem;
}

.hero__wrapper {
  place-items: center;
  gap: 2rem;
  width: 100%;
}

.hero__desc {
  font-size: 1.2rem;
}

.header__btn {
  height: 3rem;
  margin-block: auto;
}

.hero__text {
  align-items: space-between;
}

.hero__text h1 {
  color: white;
  font-size: max(3rem, 7vw);
  word-spacing: 0.5ch;
  font-family: 'Mr Dafoe', cursive;
}

.hero__buttons {
  gap: 1rem;
  justify-content: center;
}

.hero__btn--secondary {
  background-color: var(--clr-accent-red);
}

.hero__btn--secondary:hover {
  background-color: var(--clr-accent-red-hover);
}

/***********************************/
/***   Nav link animation        ***/
/***********************************/
.content__item {
  /*width: 100%;
   height: 100%; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content__item::before {
  position: absolute;
  top: 0;
  left: 0;
}

.link {
  position: relative;
  white-space: nowrap;
  /*color: var(--color-text);*/
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
}


.link--dia::before,
.link--dia::after {
  opacity: 0;
  transform-origin: 50% 0%;
  transform: translate3d(0, 3px, 0);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.link--dia:hover::before,
.link--dia:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.link--dia::after {
  content: '';
  top: calc(100% + 4px);
  width: 70%;
  left: 15%;
}

.link--dia::before,
.link--dia:hover::after {
  transition-delay: 0.1s;
}

.link--dia:hover::before {
  transition-delay: 0s;
}

/*********************/
/***   Menu        ***/
/*********************/

.menu__grid--item {
  padding: 0.5rem 0.5rem;
  grid-template-columns: 3fr 0.8fr 0.8fr 0.5fr;
  align-items: center;
  gap: 1rem;
  row-gap: 0.5rem;
}

.menu__grid--item:hover {
  background-color: var(--clr-table-border-gray);
}

.menu__icon {
  font-size: 1.1rem;
  cursor: pointer;
}

.menu_icon-vegetarian {
  color: green;
  margin-left: 0.5rem;
}

.menu__btn--add {
  justify-self: end;
  width: 4rem;
}

.menu__item--qty {
  font-weight: bold;
  margin-inline: 0.2rem;
}

.menu__dish--description {
  font-style: italic;
  font-size: 0.9rem;
}

/***************************************/
/***   Most Popular Dishes           ***/
/***************************************/

.popular-dishes__grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

}

.popular-dishes__grid--item {
  gap: 1rem;
  align-items: center;
}

.popular-dishes__description {
  height: 6rem;
}

.popular-dishes__img {
  width: 100%;
}

.popular-dishes__desc {
  font-size: 1.3rem;
  color: var(--clr-text-gray);
}

/**************************/
/***   About           ***/
/**************************/
.about__wrapper {
  gap: 2rem;
}

.about__img {
  height: 400px;
}

.about__img--img {
  max-height: 100%;
}


/******************************/
/***   Place Order Steps    ***/
/******************************/
.place-order {
  color: white;
  padding-block: 6rem;
  background: var(--clr-blanchedalmond);
}

.place-order__grid {
  grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
}

.place-order__grid--item {
  padding: 1rem;
  ;
}

.popular-dishes__img {
  filter: drop-shadow(1px 5px 10px rgb(87, 84, 84));

}

.place-order__icon {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: var(--clr-dark);
  text-align: center;
}

.place-order__arrow {
  font-size: 4rem;
}

/**************************/
/***   Success, error loading           ***/
/**************************/
.success {
  text-align: center;
  width: 100%;
  padding: 1rem 2rem;
  background: rgb(188, 238, 188);
  border: 1px solid green;
  color: green;
}

.error {
  text-align: center;
  width: 100%;
  padding: 1rem 2rem;
  background: rgb(255, 179, 179);
  border: 1px solid rgb(214, 0, 0);
  color: rgb(214, 0, 0);
}

.loading {
  font-size: 2rem;
}

/**************************/
/***   Reviews           ***/
/**************************/


.reviews__grid {
  color: white;
  gap: 2rem;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.reviews__grid--item {
  position: relative;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  padding: 2rem;
  background-color: var(--clr-blanchedalmond);
}

.reviews__grid--item:hover {
  color: var(--clr-dark);
  background-color: var(--clr-accent);
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.reviews__img {
  width: 100px;
  border-radius: 50px;
}

.reviews__name-wrapper {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.reviews__rating {
  margin-top: 0.5rem;
}

.reviews .fa-star {
  color: yellow;
}

/**************************/
/***   Basket Page  /CartScreen        ***/
/**************************/

.basket__grid {
  justify-content: space-between;
  row-gap: 3rem;
  width: 100%;
}

@media (min-width: 800px) {
  .basket__grid {
    flex-direction: row;
  }
}

.basket__item--name {
  font-size: 1rem;
}

.basket__item {
  row-gap: 0.2rem;
}

.basket__items--wrapper {
  row-gap: 1rem;
}

.basket__price-and-qty {
  gap: 1rem;
}

.basket__radio--buttons {
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.basket__radio--buttons label {
  margin-left: 0.3rem;
}

.basket__subtotal {
  text-align: right;

}

.basket__total--wrapper {
  min-width: 300px;
  border: 2px solid var(--clr-accent);
  padding: 1rem;
}

.basket__total {
  font-size: 1.5rem;
}

.basket__delete-item i {
  color: rgb(216, 83, 83);
  font-size: 0.9rem;
  cursor: pointer;
}

/**************************/
/***   FOOTER           ***/
/**************************/
footer {
  color: white;
  margin-top: 5rem;
  background-color: var(--clr-dark);
  padding-block: 2rem;
}

.footer__wrapper {
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer__column {
  row-gap: 0.3rem;
  width: min(30%, 350px);
}

.footer__social--icons {
  gap: 2rem;
  font-size: 1.5rem;
}

.footer__social--icons a {
  display: grid;
  place-items: center;
  background: var(--clr-accent);
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  gap: 0.5rem;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;

}

.footer__social--icons a:hover {

  background: var(--clr-accent-red-hover);
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

/**************************/
/***   label + input          ***/
/**************************/

.form__labelled-item {
  margin-bottom: 1rem;
  position: relative;
}

.form__label {
  position: absolute;
  left: 0.5rem;
  top: -0.8rem;
  font-size: 0.8rem;
  padding: 0.2rem;
  background-color: var(--clr-white);
}

/**************************/
/***   register form           ***/
/**************************/

.register__form input,
.login__form input {

  width: 100%;
  border: 1px solid grey;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.register__form button,
.login__form button {
  align-self: flex-end;
}


.register__form,
.login__form {
  width: min(100%, 500px);
}

/**************************/
/***   orders           ***/
/**************************/

.order__details {
  margin-left: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 1s;
}

.order__number {
  display: none;
  color: gray;
}

.show-details {
  display: block;
}

.OrdersScreen .fa-circle-check {
  color: green;
}



/*******************************/
/***   galleryScreen         ***/
/*******************************/

.Gallery__img {
  width: 100%;
  margin-bottom: 1rem;
}

.Gallery__img:hover {
  filter: opacity(0.8);
}

.Gallery {
  padding-inline: 5%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
}

@media(min-width:901px) {
  .Gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
  }


}

.Gallery__images {
  transition: all 350ms ease;
  cursor: pointer;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: black;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 25;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100vw;
  max-height: 100vh;
  display: block;
  line-height: 0;
  padding: 1.5rem 0 1.5rem;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--clr-white);
  cursor: pointer;
}